<div class="container-fluid">
  <H2>Registration form</H2>
  {{registrationForm.value|json}} 
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label>Username</label>
      <input [class.is-invalid]="registrationForm.get('userName')?.invalid && 
      registrationForm.get('userName')?.touched" formControlName="userName" type="text" class="form-control">
      <!-- <small [class.d-none]="registrationForm.get('userName').valid || 
      registrationForm.get('userName').untouched" class="text-danger">Password is invalid</small> -->
      <div *ngIf="registrationForm.get('userName')?.invalid && 
      registrationForm.get('userName')?.touched">
        <small *ngIf = "registrationForm.get('userName')?.errors?.required" class="text-danger">please enter the password</small>
        <small *ngIf = "registrationForm.get('userName')?.errors?.minlength" class="text-danger">password must be of 3 charecter atleast</small>
        <small *ngIf = "registrationForm.get('userName')?.errors?.forbidden" class="text-danger">password with name '{{registrationForm.get('userName')?.errors?.forbidden.value}}' is restricted for this user</small>
      </div>
    </div>  
    <div class="form-group">
      <label>Password</label>
      <input formControlName = "password" type="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Confirm passowrd</label>
      <input [class.is-invalid] = "registrationForm.get('confirmPassword')?.errors?.unMatchedpass" formControlName = "confirmPassword" type="password" class="form-control">
      <small *ngIf = "registrationForm.get('confirmPassword')?.errors?.unMatchedpass" class="text-danger">Passwords does not match</small>
    </div>
    <div formGroupName = "address">
      <div class="form-group">
        <label for="">City</label>
        <input formControlName = "city" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="">State</label>
        <input formControlName= "state" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Postal Code</label>
        <input formControlName = "postalCode" type="text" class="form-control">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
    <button class="btn btn-secondary ml-1" (click)="ResetForm()">Reset</button>
    <button class="btn btn-secondary ml-1" (click) = "ResetAddress()">Reset Address</button>
  </form>  
</div>